/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  padding-inline-start: var(--page-main-gap);
  padding-inline-end: var(--page-main-gap);
  font-family: var(--page-font), monospace;
  font-weight: var(--page-font-weight-bold);
  font-size: 18px;
  background-color: var(--bg-color);
  background-image: var(--header-image-url);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  inline-size: 100%;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: start;
  padding-block-start: var(--page-main-gap);
  padding-block-end: var(--page-main-gap);
  min-block-size: 668px;
  block-size: 100vh;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  display: block;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: var(--decorated-corner-color);
  inset-block-start: var(--page-main-gap);
  inset-inline-end: 0;
  inline-size: var(--decorated-corner-size);
  block-size: var(--decorated-corner-size);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  display: block;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: var(--decorated-corner-color);
  inset-block-end: var(--page-main-gap);
  inset-inline-start: 0;
  inline-size: var(--decorated-corner-size);
  block-size: var(--decorated-corner-size);
}

.header__rec {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  inset-block-start: calc(var(--page-main-gap) + 2px);
  inset-inline-end: calc(var(--page-main-gap) - 2px);
}

.header__rec::before {
  content: 'Rec';
  color: var(--accent-color);
  font-weight: var(--page-font-weight-regular);
  text-transform: uppercase;
}

.header__rec::after {
  content: '';
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  block-size: 9px;
  inline-size: 9px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  color: var(--theme-menu-button-color);
  font-weight: var(--page-font-weight-regular);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding-inline-end: 10px;
}

.header__theme-menu-button {
  border: none;
  color: var(--theme-menu-button-color);
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  border: none;
  outline: 1px solid var(--theme-menu-button-hover-color);
  outline-offset: 4px;
}

.header__theme-menu-button:not(:active):focus-visible {
  border-bottom: 1px solid currentColor;
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  outline-offset: 4px;
  pointer-events: none;
}

.main__title {
  color: var(--title-color);
  font-size: var(--title-size);
  line-height: 0.83em;
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  display: block;
  align-self: center;
  font-size: inherit;
}

.title-decor {
  color: var(--decorated-title-color);
  background-color: var(--accent-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--sections-gap);
  padding-block-start: var(--content-padding-block-start);
  padding-block-end: var(--content-padding-block-end);
}

.content__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pictures__section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery img {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.section__title {
  color: var(--section-title-color);
  font-weight: var(--page-font-weight-bold);
  font-size: inherit;
  line-height: 1.3em;
}

.section__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article__title {
  font-weight: var(--page-font-weight-bold);
  font-size: inherit;
  line-height: 1.3em;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.advice__title {
  font-weight: var(--page-font-weight-regular);
  font-size: inherit;
  line-height: 1.3em;
}

.article__text {
  color: var(--main-text-color);
  font-weight: var(--page-font-weight-regular);
  line-height: 1.3em;
}

.advice__link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

.advice__link:hover {
  border-bottom: 1px solid currentColor;
}

.advice__link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.footer {
  position: relative;
  display: grid;
  align-items: center;
  min-block-size: 668px;
  block-size: 100vh;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {

  .page {
    max-inline-size: 1023px;
  }

  .header {
    min-block-size: 668px;
  }

  .header__theme-menu {
    align-self: center;
  }

  .header__title {
    margin-inline-start: calc(var(--page-main-gap) * -1);
  }

  .header__rec {
    inset-inline-end: calc(var(--page-main-gap) - 10px);
  }

  .header__subtitle {
    justify-self: end;
    align-self: center;
    inline-size: 50%;
  }

  .content__section {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .reasons .section__text {
    grid-column: 1 / span 3;
  }

  .pictures__section {
    gap: 20px;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 20px;
  }

  .sunset {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .ice-cream {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .tape {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .street {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    justify-content: center;
  }
}

@media (width >= 1024px) {

  .header__title {
    align-self: center;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 25px;
    padding-inline-end: 0;
  }

  .content__section {
    gap: 10px;
  }

  .content__section + .reasons {
    gap: 20px;
  }

  .reasons .section__text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
